*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#navbar{
    width: 100%;
    display: inline-flex;
    text-transform: capitalize;
    justify-content: space-between;
    height: 5vw;
    align-items: center;
    padding: 2rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}
#navbar p{
    font-size: 1.6rem;
}
#navbar ul{
    list-style-type: none;
    display: inline-flex;
    font-size: 1.3rem;
    width: 50vw;
    justify-content: space-evenly;
}
#home div{
    height: 80vh;
    width: 90vw;
    border: black solid 2px;
    margin: auto;
    border-radius: 10px;
}
#footer{
    height: fit-content;
    border: 1px solid ;
    width: 100%;
    display: inline-block;
    margin: auto;
}
#footer .social_media{
    width: 100%;
    margin: auto;
    display: inline-flex;
}
#footer .social_media ul{
    display: inline-flex;
    list-style-type: none;
    width: fit-content;
    justify-content: space-between;
    margin: 10px auto;

}
#footer .social_media img{
    height: 40px;
    margin: 5px;
    border-radius: 30%;
    padding: 5px;
    box-shadow: 5px 5px 8px rgb(156, 156, 156);
}
.footcon{
    display: inline-flex; 
    width: 100%;
    margin: auto;
    justify-content: space-evenly;
    position: relative;
}
#footcon .png{
    display: inline-block;
    right: 100px;
}
#footer ul{
    min-width: fit-content;
    padding: 20px;
}
#footer .tags{
    display: inline-flex;
    margin: 30px;
    width: 40vw;
    min-width: fit-content;
    justify-content: space-between;
}
#footer .tags h3{
    text-transform: uppercase;
}
#footer .tags a{
    text-transform: capitalize;
}
#footer .footnote{
    width: fit-content;
    margin: 10px auto;
}
#footer ul{
    list-style-type: none;
}
#footer a{
    text-decoration: none;
    color: ; 
}
